## Aquarion Water Co Of Ct-Main System

In [1]:
import pandas as pd

# Define the mapping for the 'building type' column.
mapping = {
    'sf': 'Single-Family Residence',
    'mf': 'Multi-Family Residence',
    'sch_cc': 'School/Child Care',
    'res_cc': 'Residential & In-Home Child Care',
    'nonres': 'Nonresidential, Non-School, Non-Daycare',
    'mix': 'Mixed Residential & Nonresidential',
    'o': 'Other'
}

# Load the CSV file.
df = pd.read_csv('Aquarion_Water_Co_geocoded.csv')

# Process the 'building type' column:
#   - Convert each value to lowercase for matching.
#   - If the key is found in the mapping, substitute with the mapped value.
#   - Otherwise, convert the original value to title-case.
df['BUILDING TYPE'] = df['BUILDING TYPE'].apply(
    lambda x: mapping.get(x.lower(), x.title()) if isinstance(x, str) else x
)

# Process all other object type (string) columns by converting them to title-case.
for col in df.select_dtypes(include=['object']):
    if col != 'building type':
        df[col] = df[col].apply(lambda x: x.title() if isinstance(x, str) else x)

# (Optional) Check the first few rows to confirm the transformation.
print(df.head())

# Save the modified DataFrame to a new CSV file.
df.to_csv('Aquarion_Water_Co_geocoded_titlecase.csv', index=False)

     SITE ID LOCATION IDENTIFIER     STREET ADDRESS        TOWN  \
0  700000246        752 Park Ave       752 Park Ave  Bridgeport
1  700001555     745 Hancock Ave    745 Hancock Ave  Bridgeport
2  700001611        725 Park Ave       725 Park Ave  Bridgeport
3  700001683     25 Princeton St    25 Princeton St  Bridgeport
4  700001756   459 Iranistan Ave  459 Iranistan Ave  Bridgeport

                    merged address STATE  \
0       752 Park Ave Bridgeport Ct    Ct
1    745 Hancock Ave Bridgeport Ct    Ct
2       725 Park Ave Bridgeport Ct    Ct
3    25 Princeton St Bridgeport Ct    Ct
4  459 Iranistan Ave Bridgeport Ct    Ct

                             BUILDING TYPE      PWSID  \
0                   Multi-Family Residence  Ct0150011
1  Nonresidential, Non-School, Non-Daycare  Ct0150011
2  Nonresidential, Non-School, Non-Daycare  Ct0150011
3  Nonresidential, Non-School, Non-Daycare  Ct0150011
4  Nonresidential, Non-School, Non-Daycare  Ct0150011

                           SYSTEM NAME        lat       long
0  Aquarion Water Co Of Ct-Main System  41.172089 -73.196353
1  Aquarion Water Co Of Ct-Main System  41.170344 -73.212217
2  Aquarion Water Co Of Ct-Main System  41.171547 -73.197243
3  Aquarion Water Co Of Ct-Main System  41.158874 -73.225936
4  Aquarion Water Co Of Ct-Main System  41.167431 -73.199595

## Windham Water Works

In [3]:
# Load the CSV file.
df = pd.read_excel('Windham Water Works.xlsx')

# Process the 'building type' column:
#   - Convert each value to lowercase for matching.
#   - If the key is found in the mapping, substitute with the mapped value.
#   - Otherwise, convert the original value to title-case.
df['BUILDING TYPE'] = df['BUILDING TYPE'].apply(
    lambda x: mapping.get(x.lower(), x.title()) if isinstance(x, str) else x
)

# Process all other object type (string) columns by converting them to title-case.
for col in df.select_dtypes(include=['object']):
    if col != 'building type':
        df[col] = df[col].apply(lambda x: x.title() if isinstance(x, str) else x)

# (Optional) Check the first few rows to confirm the transformation.
print(df.head())

# Save the modified DataFrame to a new CSV file.
df.to_csv('Windham_Water_Works_geocoded_titlecase.csv', index=False)

   SITE ID     Lat    long   STREET ADDRESS     TOWN STATE  \
0    40418  41.708 -72.206       27 Park St  Windham    Ct
1    30329  41.706 -72.200   217 Windham Rd  Windham    Ct
2    20521  41.718 -72.213  118 Chestnut St  Windham    Ct
3    20959  41.717 -72.215    150 Walnut St  Windham    Ct
4    20317  41.716 -72.193  348 Bricktop Rd  Windham    Ct

  ENTIRE SERVICE LINE MATERIAL CLASSIFICATION            BUILDING TYPE  \
0                                        Lead   Multi-Family Residence
1                                        Lead  Single-Family Residence
2                                        Lead  Single-Family Residence
3                                        Lead  Single-Family Residence
4                                        Lead   Multi-Family Residence

       PWSID          SYSTEM NAME
0  Ct1630011  Windham Water Works
1  Ct1630011  Windham Water Works
2  Ct1630011  Windham Water Works
3  Ct1630011  Windham Water Works
4  Ct1630011  Windham Water Works

## All water systems

In [5]:
# Load the CSV file.
df = pd.read_csv('all-lead.csv')

# Process the 'building type' column:
#   - Convert each value to lowercase for matching.
#   - If the key is found in the mapping, substitute with the mapped value.
#   - Otherwise, convert the original value to title-case.
df['BUILDING TYPE'] = df['BUILDING TYPE'].apply(
    lambda x: mapping.get(x.lower(), x.title()) if isinstance(x, str) else x
)

# Process all other object type (string) columns by converting them to title-case.
for col in df.select_dtypes(include=['object']):
    if col != 'building type':
        df[col] = df[col].apply(lambda x: x.title() if isinstance(x, str) else x)

# (Optional) Check the first few rows to confirm the transformation.
print(df.head())

# Save the modified DataFrame to a new CSV file.
df.to_csv('all-lead_titlecase.csv', index=False)

  SITE ID            LOCATION IDENTIFIER  STREET ADDRESS           TOWN STATE  \
0   48817    53 Circle Dr, Windsor Locks    53 Circle Dr  Windsor Locks    Ct
1   49498  421 Denslow St, Windsor Locks  421 Denslow St  Windsor Locks    Ct
2   49732    46 Center St, Windsor Locks    46 Center St  Windsor Locks    Ct
3   51893   154 Sunset St, Windsor Locks   154 Sunset St  Windsor Locks    Ct
4   59967    754 Avery St, South Windsor    754 Avery St  South Windsor    Ct

  ENTIRE SERVICE LINE MATERIAL CLASSIFICATION            BUILDING TYPE  \
0                                        Lead  Single-Family Residence
1                                        Lead  Single-Family Residence
2                                        Lead  Single-Family Residence
3                                        Lead  Single-Family Residence
4                                        Lead  Single-Family Residence

                                      SOURCE FILE  STREET NUMBER  STREET NAME  \
0  Ct0473011_Lcrr_Inventory_Initial_10.16.24.Xlsx            NaN          NaN
1  Ct0473011_Lcrr_Inventory_Initial_10.16.24.Xlsx            NaN          NaN
2  Ct0473011_Lcrr_Inventory_Initial_10.16.24.Xlsx            NaN          NaN
3  Ct0473011_Lcrr_Inventory_Initial_10.16.24.Xlsx            NaN          NaN
4  Ct0473011_Lcrr_Inventory_Initial_10.16.24.Xlsx            NaN          NaN

  extracted_pswid  is_match      PWSID                         SYSTEM NAME
0       Ct0473011      True  Ct0473011  Ctwc - Northern Reg-Western System
1       Ct0473011      True  Ct0473011  Ctwc - Northern Reg-Western System
2       Ct0473011      True  Ct0473011  Ctwc - Northern Reg-Western System
3       Ct0473011      True  Ct0473011  Ctwc - Northern Reg-Western System
4       Ct0473011      True  Ct0473011  Ctwc - Northern Reg-Western System

## Waterbury Water Department

In [6]:

# Define the mapping for the 'building type' column.
mapping = {
    'sf': 'Single-Family Residence',
    'mf': 'Multi-Family Residence',
    'sch_cc': 'School/Child Care',
    'res_cc': 'Residential & In-Home Child Care',
    'nonres': 'Nonresidential, Non-School, Non-Daycare',
    'mix': 'Mixed Residential & Nonresidential',
    'o': 'Other'
}

# Load the CSV file.
df = pd.read_csv('Waterbury_Water_Department_geocoded.csv')

# Process the 'building type' column:
#   - Convert each value to lowercase for matching.
#   - If the key is found in the mapping, substitute with the mapped value.
#   - Otherwise, convert the original value to title-case.
df['BUILDING TYPE'] = df['BUILDING TYPE'].apply(
    lambda x: mapping.get(x.lower(), x.title()) if isinstance(x, str) else x
)

# Process all other object type (string) columns by converting them to title-case.
for col in df.select_dtypes(include=['object']):
    if col != 'building type':
        df[col] = df[col].apply(lambda x: x.title() if isinstance(x, str) else x)

# (Optional) Check the first few rows to confirm the transformation.
print(df.head())

# Save the modified DataFrame to a new CSV file.
df.to_csv('Waterbury_Water_Department_geocoded_titlecase.csv', index=False)

   SITE ID LOCATION IDENTIFIER      STREET ADDRESS       TOWN  \
0   102148        020001860079      120 Easton Ave  Waterbury
1   102618        020002060033        107 Platt St  Waterbury
2   103178        020002110064  1089 North Main St  Waterbury
3   103188        020002110066  1063 North Main St  Waterbury
4   103208        020002110068  1043 North Main St  Waterbury

                             merged address        STATE  \
0      120 Easton Ave Waterbury Connecticut  Connecticut
1        107 Platt St Waterbury Connecticut  Connecticut
2  1089 North Main St Waterbury Connecticut  Connecticut
3  1063 North Main St Waterbury Connecticut  Connecticut
4  1043 North Main St Waterbury Connecticut  Connecticut

  ENTIRE SERVICE LINE MATERIAL CLASSIFICATION            BUILDING TYPE  \
0                                        Lead   Multi-Family Residence
1                                        Lead  Single-Family Residence
2                                        Lead   Multi-Family Residence
3                                        Lead                    Other
4                                        Lead   Multi-Family Residence

       PWSID                 SYSTEM NAME        lat       long
0  Ct1510011  Waterbury Water Department  41.566187 -73.030324
1  Ct1510011  Waterbury Water Department  41.567653 -73.030817
2  Ct1510011  Waterbury Water Department  41.566610 -73.027898
3  Ct1510011  Waterbury Water Department  41.566395 -73.028237
4  Ct1510011  Waterbury Water Department  41.566395 -73.028760

## New London Dept. of Public Utilities

In [7]:
mapping = {
    'sf': 'Single-Family Residence',
    'mf': 'Multi-Family Residence',
    'sch_cc': 'School/Child Care',
    'res_cc': 'Residential & In-Home Child Care',
    'nonres': 'Nonresidential, Non-School, Non-Daycare',
    'mix': 'Mixed Residential & Nonresidential',
    'o': 'Other'
}
# Load the CSV file.
df = pd.read_csv('New_London_geocoded.csv')

# Process the 'building type' column:
#   - Convert each value to lowercase for matching.
#   - If the key is found in the mapping, substitute with the mapped value.
#   - Otherwise, convert the original value to title-case.
df['BUILDING TYPE'] = df['BUILDING TYPE'].apply(
    lambda x: mapping.get(x.lower(), x.title()) if isinstance(x, str) else x
)

# Process all other object type (string) columns by converting them to title-case.
for col in df.select_dtypes(include=['object']):
    if col != 'building type':
        df[col] = df[col].apply(lambda x: x.title() if isinstance(x, str) else x)

# (Optional) Check the first few rows to confirm the transformation.
print(df.head())

# Save the modified DataFrame to a new CSV file.
df.to_csv('New_London_geocoded_titlecase.csv', index=False)

      SITE ID LOCATION IDENTIFIER  STREET ADDRESS        TOWN  \
0   6 - 40620          D12-178-19     1 Colver St  New London
1  63 - 38321           F19-66-13     10 Lyman Ct  New London
2  75 - 38501          F08-299-10  10 Rosemary St  New London
3  94 - 38859            E19-65-2   100 School St  New London
4  99 - 40630          G26-18-100  1000 Ocean Ave  New London

                 merged address STATE  \
0     1 Colver St New London Ct    Ct
1     10 Lyman Ct New London Ct    Ct
2  10 Rosemary St New London Ct    Ct
3   100 School St New London Ct    Ct
4  1000 Ocean Ave New London Ct    Ct

  ENTIRE SERVICE LINE MATERIAL CLASSIFICATION     BUILDING TYPE  \
0                                        Lead  Residential (Sf)
1                                        Lead  Residential (Sf)
2                                        Lead        Commercial
3                                        Lead           Unknown
4                                        Lead           Unknown

                                      SOURCE FILE  STREET NUMBER  STREET NAME  \
0  Ct0950011_Lcrr_Inventory_Initial_10.15.24.Xlsx            NaN          NaN
1  Ct0950011_Lcrr_Inventory_Initial_10.15.24.Xlsx            NaN          NaN
2  Ct0950011_Lcrr_Inventory_Initial_10.15.24.Xlsx            NaN          NaN
3  Ct0950011_Lcrr_Inventory_Initial_10.15.24.Xlsx            NaN          NaN
4  Ct0950011_Lcrr_Inventory_Initial_10.15.24.Xlsx            NaN          NaN

  extracted_pswid  is_match      PWSID                           SYSTEM NAME  \
0       Ct0950011      True  Ct0950011  New London Dept. Of Public Utilities
1       Ct0950011      True  Ct0950011  New London Dept. Of Public Utilities
2       Ct0950011      True  Ct0950011  New London Dept. Of Public Utilities
3       Ct0950011      True  Ct0950011  New London Dept. Of Public Utilities
4       Ct0950011      True  Ct0950011  New London Dept. Of Public Utilities

         lat       long
0  41.354586 -72.111793
1  41.527269 -72.108959
2  41.365892 -72.101046
3  41.333981 -72.103774
4  41.315868 -72.097316

## Aquarion Water Co of CT-Greenwich

In [8]:
mapping = {
    'sf': 'Single-Family Residence',
    'mf': 'Multi-Family Residence',
    'sch_cc': 'School/Child Care',
    'res_cc': 'Residential & In-Home Child Care',
    'nonres': 'Nonresidential, Non-School, Non-Daycare',
    'mix': 'Mixed Residential & Nonresidential',
    'o': 'Other'
}
# Load the CSV file.
df = pd.read_csv('Aquarion_Greenwich_geocoded.csv')

# Process the 'building type' column:
#   - Convert each value to lowercase for matching.
#   - If the key is found in the mapping, substitute with the mapped value.
#   - Otherwise, convert the original value to title-case.
df['BUILDING TYPE'] = df['BUILDING TYPE'].apply(
    lambda x: mapping.get(x.lower(), x.title()) if isinstance(x, str) else x
)

# Process all other object type (string) columns by converting them to title-case.
for col in df.select_dtypes(include=['object']):
    if col != 'building type':
        df[col] = df[col].apply(lambda x: x.title() if isinstance(x, str) else x)

# (Optional) Check the first few rows to confirm the transformation.
print(df.head())

# Save the modified DataFrame to a new CSV file.
df.to_csv('Aquarion_Greenwich_geocoded_titlecase.csv', index=False)

     SITE ID LOCATION IDENTIFIER     STREET ADDRESS     TOWN  \
0  700152103         9 Tingue St        9 Tingue St    Byram
1  700164929   223 Cognewaugh Rd  223 Cognewaugh Rd  Cos Cob
2  700224686        48 Valley Rd       48 Valley Rd  Cos Cob
3  700148694         30 River Rd        30 River Rd  Cos Cob
4  700148819          8 Miami Ct         8 Miami Ct  Cos Cob

                 merged address STATE  \
0          9 Tingue St Byram Ct    Ct
1  223 Cognewaugh Rd Cos Cob Ct    Ct
2       48 Valley Rd Cos Cob Ct    Ct
3        30 River Rd Cos Cob Ct    Ct
4         8 Miami Ct Cos Cob Ct    Ct

  ENTIRE SERVICE LINE MATERIAL CLASSIFICATION            BUILDING TYPE  \
0                                        Lead   Multi-Family Residence
1                                        Lead  Single-Family Residence
2                                        Lead  Single-Family Residence
3                                        Lead  Single-Family Residence
4                                        Lead  Single-Family Residence

                                      SOURCE FILE  STREET NUMBER  STREET NAME  \
0  Ct0570011_Lcrr_Inventory_Initial_10.16.24.Xlsx            NaN          NaN
1  Ct0570011_Lcrr_Inventory_Initial_10.16.24.Xlsx            NaN          NaN
2  Ct0570011_Lcrr_Inventory_Initial_10.16.24.Xlsx            NaN          NaN
3  Ct0570011_Lcrr_Inventory_Initial_10.16.24.Xlsx            NaN          NaN
4  Ct0570011_Lcrr_Inventory_Initial_10.16.24.Xlsx            NaN          NaN

  extracted_pswid  is_match      PWSID                        SYSTEM NAME  \
0       Ct0570011      True  Ct0570011  Aquarion Water Co Of Ct-Greenwich
1       Ct0570011      True  Ct0570011  Aquarion Water Co Of Ct-Greenwich
2       Ct0570011      True  Ct0570011  Aquarion Water Co Of Ct-Greenwich
3       Ct0570011      True  Ct0570011  Aquarion Water Co Of Ct-Greenwich
4       Ct0570011      True  Ct0570011  Aquarion Water Co Of Ct-Greenwich

         lat       long
0  41.002723 -73.651930
1        NaN        NaN
2  41.042464 -73.593332
3  41.035945 -73.595601
4  41.038828 -73.595872

## Middletown Water Department

In [12]:
mapping = {
    'sf': 'Single-Family Residence',
    'mf': 'Multi-Family Residence',
    'sch_cc': 'School/Child Care',
    'res_cc': 'Residential & In-Home Child Care',
    'nonres': 'Nonresidential, Non-School, Non-Daycare',
    'mix': 'Mixed Residential & Nonresidential',
    'o': 'Other'
}
# Load the CSV file.
df = pd.read_csv('Middletown_geocoded.csv')

# Process the 'building type' column:
#   - Convert each value to lowercase for matching.
#   - If the key is found in the mapping, substitute with the mapped value.
#   - Otherwise, convert the original value to title-case.
df['BUILDING TYPE'] = df['BUILDING TYPE'].apply(
    lambda x: mapping.get(x.lower(), x.title()) if isinstance(x, str) else x
)

# Process all other object type (string) columns by converting them to title-case.
for col in df.select_dtypes(include=['object']):
    if col != 'building type':
        df[col] = df[col].apply(lambda x: x.title() if isinstance(x, str) else x)

# (Optional) Check the first few rows to confirm the transformation.
print(df.head())

# Save the modified DataFrame to a new CSV file.
df.to_csv('Middletown_geocoded_titlecase.csv', index=False)

     SITE ID    STREET ADDRESS        TOWN                  merged address  \
0  00000007R   353 Main Street  Middletown   353 Main Street Middletown Ct
1  00000032C   291 Main Street  Middletown   291 Main Street Middletown Ct
2  00000042R  241 Court Street  Middletown  241 Court Street Middletown Ct
3  00000050R   346 Main Street  Middletown   346 Main Street Middletown Ct
4  00000071R   318 Main Street  Middletown   318 Main Street Middletown Ct

  STATE ENTIRE SERVICE LINE MATERIAL CLASSIFICATION  \
0    Ct                                        Lead
1    Ct                                        Lead
2    Ct                                        Lead
3    Ct                                        Lead
4    Ct                                        Lead

                             BUILDING TYPE      PWSID  \
0  Nonresidential, Non-School, Non-Daycare  Ct0830011
1  Nonresidential, Non-School, Non-Daycare  Ct0830011
2                   Multi-Family Residence  Ct0830011
3  Nonresidential, Non-School, Non-Daycare  Ct0830011
4  Nonresidential, Non-School, Non-Daycare  Ct0830011

                   SYSTEM NAME        lat       long
0  Middletown Water Department  41.560982 -72.650711
1  Middletown Water Department  41.560164 -72.650103
2  Middletown Water Department  41.559130 -72.652837
3  Middletown Water Department  41.561150 -72.649841
4  Middletown Water Department  41.560833 -72.649580

## Meriden Water Division

In [13]:
mapping = {
    'sf': 'Single-Family Residence',
    'mf': 'Multi-Family Residence',
    'sch_cc': 'School/Child Care',
    'res_cc': 'Residential & In-Home Child Care',
    'nonres': 'Nonresidential, Non-School, Non-Daycare',
    'mix': 'Mixed Residential & Nonresidential',
    'o': 'Other'
}
# Load the CSV file.
df = pd.read_csv('Meriden Water Division.csv')

# Process the 'building type' column:
#   - Convert each value to lowercase for matching.
#   - If the key is found in the mapping, substitute with the mapped value.
#   - Otherwise, convert the original value to title-case.
df['BUILDING TYPE'] = df['BUILDING TYPE'].apply(
    lambda x: mapping.get(x.lower(), x.title()) if isinstance(x, str) else x
)

# Process all other object type (string) columns by converting them to title-case.
for col in df.select_dtypes(include=['object']):
    if col != 'building type':
        df[col] = df[col].apply(lambda x: x.title() if isinstance(x, str) else x)

# (Optional) Check the first few rows to confirm the transformation.
print(df.head())

# Save the modified DataFrame to a new CSV file.
df.to_csv('Meriden_titlecase.csv', index=False)

   SITE ID        lat       long   STREET ADDRESS     TOWN  \
0   113440  41.528686 -72.783580    84 Dexter Ave  Meriden
1   113442  41.548668 -72.795772    96 Wilcox Ave  Meriden
2   113444  41.538271 -72.816065   62 Bradley Ave  Meriden
3   113446  41.546385 -72.821026  70 Corrigan Ave  Meriden
4   113448  41.520925 -72.829614     42 Meadow St  Meriden

               merged address STATE  \
0    84 Dexter Ave Meriden Ct    Ct
1    96 Wilcox Ave Meriden Ct    Ct
2   62 Bradley Ave Meriden Ct    Ct
3  70 Corrigan Ave Meriden Ct    Ct
4     42 Meadow St Meriden Ct    Ct

  ENTIRE SERVICE LINE MATERIAL CLASSIFICATION            BUILDING TYPE  \
0                         Lead Status Unknown  Single-Family Residence
1                         Lead Status Unknown  Single-Family Residence
2                         Lead Status Unknown  Single-Family Residence
3                         Lead Status Unknown  Single-Family Residence
4                         Lead Status Unknown  Single-Family Residence

                                      SOURCE FILE  STREET NUMBER  STREET NAME  \
0  Ct0800011_Lcrr_Inventory_Initial_10.15.24.Xlsx            NaN          NaN
1  Ct0800011_Lcrr_Inventory_Initial_10.15.24.Xlsx            NaN          NaN
2  Ct0800011_Lcrr_Inventory_Initial_10.15.24.Xlsx            NaN          NaN
3  Ct0800011_Lcrr_Inventory_Initial_10.15.24.Xlsx            NaN          NaN
4  Ct0800011_Lcrr_Inventory_Initial_10.15.24.Xlsx            NaN          NaN

  extracted_pswid  is_match      PWSID             SYSTEM NAME
0       Ct0800011      True  Ct0800011  Meriden Water Division
1       Ct0800011      True  Ct0800011  Meriden Water Division
2       Ct0800011      True  Ct0800011  Meriden Water Division
3       Ct0800011      True  Ct0800011  Meriden Water Division
4       Ct0800011      True  Ct0800011  Meriden Water Division