In [2]:


%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML
# Import necessary libraries
from geopy.geocoders import Nominatim
import pandas as pd
import geopandas as gpd

In [3]:
%%R

# My commonly used R imports

# Install tidygeocoder if it is not already installed
if (!require(tidygeocoder)) {
  install.packages("tidygeocoder")
}
library(tidygeocoder)
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Loading required package: tidygeocoder

## Aquarion Water Co of CT-Main System

In [9]:
%%R

# Read in your CSV file (adjust the path if needed)
data <- read_csv("Aquarion Water Co of CT-Main System.csv")

# Preview the data to check the column names and structure
print(head(data))

Rows: 3948 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (8): LOCATION IDENTIFIER, STREET ADDRESS, TOWN, merged address, STATE, B...
dbl (1): SITE ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
# A tibble: 6 × 9
  `SITE ID` `LOCATION IDENTIFIER` `STREET ADDRESS`  TOWN  `merged address` STATE
      <dbl> <chr>                 <chr>             <chr> <chr>            <chr>
1 700000246 752 PARK AVE          752 PARK AVE      BRID… 752 PARK AVE BR… CT
2 700001555 745 HANCOCK AVE       745 HANCOCK AVE   BRID… 745 HANCOCK AVE… CT
3 700001611 725 PARK AVE          725 PARK AVE      BRID… 725 PARK AVE BR… CT
4 700001683 25 PRINCETON ST       25 PRINCETON ST   BRID… 25 PRINCETON ST… CT
5 700001756 459 IRANISTAN AVE     459 IRANISTAN AVE BRID… 459 IRANISTAN A… CT
6 700001878 95 JONES AVE          95 JONES AVE      BRID… 95 JONES AVE BR… CT
# ℹ 3 more variables: `BUILDING TYPE` <chr>, PWSID <chr>, `SYSTEM NAME` <chr>

In [10]:
%%R

colnames(data)
# [1] "SITE ID" "LOCATION IDENTIFIER" "STREET ADDRESS" "TOWN" "merged address" "STATE" ...

[1] "SITE ID"             "LOCATION IDENTIFIER" "STREET ADDRESS"
[4] "TOWN"                "merged address"      "STATE"
[7] "BUILDING TYPE"       "PWSID"               "SYSTEM NAME"

In [11]:
%%R


# Geocode each row based on the 'merged address' column
data_geocoded <- data %>%
  geocode(address = `merged address`, method = "osm")

# Check the results
head(data_geocoded)

# A tibble: 6 × 11
  `SITE ID` `LOCATION IDENTIFIER` `STREET ADDRESS`  TOWN  `merged address` STATE
      <dbl> <chr>                 <chr>             <chr> <chr>            <chr>
1 700000246 752 PARK AVE          752 PARK AVE      BRID… 752 PARK AVE BR… CT
2 700001555 745 HANCOCK AVE       745 HANCOCK AVE   BRID… 745 HANCOCK AVE… CT
3 700001611 725 PARK AVE          725 PARK AVE      BRID… 725 PARK AVE BR… CT
4 700001683 25 PRINCETON ST       25 PRINCETON ST   BRID… 25 PRINCETON ST… CT
5 700001756 459 IRANISTAN AVE     459 IRANISTAN AVE BRID… 459 IRANISTAN A… CT
6 700001878 95 JONES AVE          95 JONES AVE      BRID… 95 JONES AVE BR… CT
# ℹ 5 more variables: `BUILDING TYPE` <chr>, PWSID <chr>, `SYSTEM NAME` <chr>,
#   lat <dbl>, long <dbl>

Passing 3,944 addresses to the Nominatim single address geocoder

In [12]:
%%R


# Display the first few rows in the console
head(data_geocoded)

# Or print the entire data frame (if it's not too large)
print(data_geocoded)

# A tibble: 3,948 × 11
   `SITE ID` `LOCATION IDENTIFIER` `STREET ADDRESS` TOWN  `merged address` STATE
       <dbl> <chr>                 <chr>            <chr> <chr>            <chr>
 1 700000246 752 PARK AVE          752 PARK AVE     BRID… 752 PARK AVE BR… CT
 2 700001555 745 HANCOCK AVE       745 HANCOCK AVE  BRID… 745 HANCOCK AVE… CT
 3 700001611 725 PARK AVE          725 PARK AVE     BRID… 725 PARK AVE BR… CT
 4 700001683 25 PRINCETON ST       25 PRINCETON ST  BRID… 25 PRINCETON ST… CT
 5 700001756 459 IRANISTAN AVE     459 IRANISTAN A… BRID… 459 IRANISTAN A… CT
 6 700001878 95 JONES AVE          95 JONES AVE     BRID… 95 JONES AVE BR… CT
 7 700002813 241 PINE ST           241 PINE ST      BRID… 241 PINE ST BRI… CT
 8 700002952 24 WALLACE ST         24 WALLACE ST    BRID… 24 WALLACE ST B… CT
 9 700003044 3101 MAIN ST          3101 MAIN ST     BRID… 3101 MAIN ST BR… CT
10 700003374 522 FAIRFIELD AVE     522 FAIRFIELD A… BRID… 522 FAIRFIELD A… CT
# ℹ 3,938 more rows
# ℹ 5 more variables: `BUILDING TYPE` <chr>, PWSID <chr>, `SYSTEM NAME` <chr>,
#   lat <dbl>, long <dbl>
# ℹ Use `print(n = ...)` to see more rows

In [13]:
%%R

write_csv(data_geocoded, "Aquarion_Water_Co_geocoded.csv")

## Windham Water Works
No needed - location identifier has latitude and longitude

## Waterbury Water Department

In [14]:
%%R

# Read in your CSV file (adjust the path if needed)
data <- read_csv("Waterbury Water Department.csv")

# Preview the data to check the column names and structure
print(head(data))

Rows: 952 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): LOCATION IDENTIFIER, STREET ADDRESS, TOWN, merged address, STATE, E...
dbl (1): SITE ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
# A tibble: 6 × 10
  `SITE ID` `LOCATION IDENTIFIER` `STREET ADDRESS`  TOWN  `merged address` STATE
      <dbl> <chr>                 <chr>             <chr> <chr>            <chr>
1    102148 020001860079          120 EASTON AVE    Wate… 120 EASTON AVE … Conn…
2    102618 020002060033          107 PLATT ST      Wate… 107 PLATT ST Wa… Conn…
3    103178 020002110064          1089 NORTH MAIN … Wate… 1089 NORTH MAIN… Conn…
4    103188 020002110066          1063 NORTH MAIN … Wate… 1063 NORTH MAIN… Conn…
5    103208 020002110068          1043 NORTH MAIN … Wate… 1043 NORTH MAIN… Conn…
6    103218 020002110069          1027 NORTH MAIN … Wate… 1027 NORTH MAIN… Conn…
# ℹ 4 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, PWSID <chr>, `SYSTEM NAME` <chr>

In [15]:
%%R


# Geocode each row based on the 'merged address' column
data_geocoded <- data %>%
  geocode(address = `merged address`, method = "osm")

# Check the results
head(data_geocoded)

# A tibble: 6 × 12
  `SITE ID` `LOCATION IDENTIFIER` `STREET ADDRESS`  TOWN  `merged address` STATE
      <dbl> <chr>                 <chr>             <chr> <chr>            <chr>
1    102148 020001860079          120 EASTON AVE    Wate… 120 EASTON AVE … Conn…
2    102618 020002060033          107 PLATT ST      Wate… 107 PLATT ST Wa… Conn…
3    103178 020002110064          1089 NORTH MAIN … Wate… 1089 NORTH MAIN… Conn…
4    103188 020002110066          1063 NORTH MAIN … Wate… 1063 NORTH MAIN… Conn…
5    103208 020002110068          1043 NORTH MAIN … Wate… 1043 NORTH MAIN… Conn…
6    103218 020002110069          1027 NORTH MAIN … Wate… 1027 NORTH MAIN… Conn…
# ℹ 6 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, PWSID <chr>, `SYSTEM NAME` <chr>, lat <dbl>,
#   long <dbl>

Passing 852 addresses to the Nominatim single address geocoder

In [16]:
%%R


# Display the first few rows in the console
head(data_geocoded)

# Or print the entire data frame (if it's not too large)
print(data_geocoded)

# A tibble: 952 × 12
   `SITE ID` `LOCATION IDENTIFIER` `STREET ADDRESS` TOWN  `merged address` STATE
       <dbl> <chr>                 <chr>            <chr> <chr>            <chr>
 1    102148 020001860079          120 EASTON AVE   Wate… 120 EASTON AVE … Conn…
 2    102618 020002060033          107 PLATT ST     Wate… 107 PLATT ST Wa… Conn…
 3    103178 020002110064          1089 NORTH MAIN… Wate… 1089 NORTH MAIN… Conn…
 4    103188 020002110066          1063 NORTH MAIN… Wate… 1063 NORTH MAIN… Conn…
 5    103208 020002110068          1043 NORTH MAIN… Wate… 1043 NORTH MAIN… Conn…
 6    103218 020002110069          1027 NORTH MAIN… Wate… 1027 NORTH MAIN… Conn…
 7    103368 020002120057          212 EASTON AVE   Wate… 212 EASTON AVE … Conn…
 8    103428 020002130056          213 EASTON AVE   Wate… 213 EASTON AVE … Conn…
 9    103478 020101990031          1208 NORTH MAIN… Wate… 1208 NORTH MAIN… Conn…
10    103488 020101990032          1214 NORTH MAIN… Wate… 1214 NORTH MAIN… Conn…
# ℹ 942 more rows
# ℹ 6 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, PWSID <chr>, `SYSTEM NAME` <chr>, lat <dbl>,
#   long <dbl>
# ℹ Use `print(n = ...)` to see more rows

In [17]:
%%R

write_csv(data_geocoded, "Waterbury_Water_Department_geocoded.csv")

## New London Dept. of Public Utilities

In [20]:
%%R

# Read in your CSV file (adjust the path if needed)
data <- read_csv("New London Dept. of Public Utilities.csv")

# Preview the data to check the column names and structure
print(head(data))

Rows: 526 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (12): SITE ID, LOCATION IDENTIFIER, STREET ADDRESS, TOWN, merged address...
lgl  (3): STREET NUMBER, STREET NAME, is_match

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
# A tibble: 6 × 15
  `SITE ID`  `LOCATION IDENTIFIER` `STREET ADDRESS` TOWN  `merged address` STATE
  <chr>      <chr>                 <chr>            <chr> <chr>            <chr>
1 6 - 40620  D12-178-19            1 COLVER ST      New … 1 COLVER ST New… CT
2 63 - 38321 F19-66-13             10 Lyman Ct      New … 10 Lyman Ct New… CT
3 75 - 38501 F08-299-10            10 ROSEMARY ST   New … 10 ROSEMARY ST … CT
4 94 - 38859 E19-65-2              100 SCHOOL ST    New … 100 SCHOOL ST N… CT
5 99 - 40630 G26-18-100            1000 OCEAN AVE   New … 1000 OCEAN AVE … CT
6 100 - 411… F26-10-34.01          1001 OCEAN AVE   New … 1001 OCEAN AVE … CT
# ℹ 9 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, `SOURCE FILE` <chr>, `STREET NUMBER` <lgl>,
#   `STREET NAME` <lgl>, extracted_pswid <chr>, is_match <lgl>, PWSID <chr>,
#   `SYSTEM NAME` <chr>

In [21]:
%%R


# Geocode each row based on the 'merged address' column
data_geocoded <- data %>%
  geocode(address = `merged address`, method = "osm")

# Check the results
head(data_geocoded)

# A tibble: 6 × 17
  `SITE ID`  `LOCATION IDENTIFIER` `STREET ADDRESS` TOWN  `merged address` STATE
  <chr>      <chr>                 <chr>            <chr> <chr>            <chr>
1 6 - 40620  D12-178-19            1 COLVER ST      New … 1 COLVER ST New… CT
2 63 - 38321 F19-66-13             10 Lyman Ct      New … 10 Lyman Ct New… CT
3 75 - 38501 F08-299-10            10 ROSEMARY ST   New … 10 ROSEMARY ST … CT
4 94 - 38859 E19-65-2              100 SCHOOL ST    New … 100 SCHOOL ST N… CT
5 99 - 40630 G26-18-100            1000 OCEAN AVE   New … 1000 OCEAN AVE … CT
6 100 - 411… F26-10-34.01          1001 OCEAN AVE   New … 1001 OCEAN AVE … CT
# ℹ 11 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, `SOURCE FILE` <chr>, `STREET NUMBER` <lgl>,
#   `STREET NAME` <lgl>, extracted_pswid <chr>, is_match <lgl>, PWSID <chr>,
#   `SYSTEM NAME` <chr>, lat <dbl>, long <dbl>

Passing 526 addresses to the Nominatim single address geocoder

In [22]:
%%R


# Display the first few rows in the console
head(data_geocoded)

# Or print the entire data frame (if it's not too large)
print(data_geocoded)

# A tibble: 526 × 17
   `SITE ID` `LOCATION IDENTIFIER` `STREET ADDRESS` TOWN  `merged address` STATE
   <chr>     <chr>                 <chr>            <chr> <chr>            <chr>
 1 6 - 40620 D12-178-19            1 COLVER ST      New … 1 COLVER ST New… CT
 2 63 - 383… F19-66-13             10 Lyman Ct      New … 10 Lyman Ct New… CT
 3 75 - 385… F08-299-10            10 ROSEMARY ST   New … 10 ROSEMARY ST … CT
 4 94 - 388… E19-65-2              100 SCHOOL ST    New … 100 SCHOOL ST N… CT
 5 99 - 406… G26-18-100            1000 OCEAN AVE   New … 1000 OCEAN AVE … CT
 6 100 - 41… F26-10-34.01          1001 OCEAN AVE   New … 1001 OCEAN AVE … CT
 7 106 - 40… G27-9-13              1007 PEQUOT AVE  New … 1007 PEQUOT AVE… CT
 8 112 - 38… D13-126-49            101 COLMAN ST    New … 101 COLMAN ST N… CT
 9 118 - 40… F13-152-33            101 TRUMAN ST    New … 101 TRUMAN ST N… CT
10 120 - 40… D16-118-159           1011 BANK ST     New … 1011 BANK ST Ne… CT
# ℹ 516 more rows
# ℹ 11 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, `SOURCE FILE` <chr>, `STREET NUMBER` <lgl>,
#   `STREET NAME` <lgl>, extracted_pswid <chr>, is_match <lgl>, PWSID <chr>,
#   `SYSTEM NAME` <chr>, lat <dbl>, long <dbl>
# ℹ Use `print(n = ...)` to see more rows

In [23]:
%%R

write_csv(data_geocoded, "New_London_geocoded.csv")

## Aquarion Water Co of CT-Greenwich

In [26]:
%%R

# Read in your CSV file (adjust the path if needed)
data <- read_csv("Aquarion Water Co of CT-Greenwich.csv")

# Preview the data to check the column names and structure
print(head(data))

Rows: 1552 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (11): LOCATION IDENTIFIER, STREET ADDRESS, TOWN, merged address, STATE, ...
dbl  (1): SITE ID
lgl  (3): STREET NUMBER, STREET NAME, is_match

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
# A tibble: 6 × 15
  `SITE ID` `LOCATION IDENTIFIER` `STREET ADDRESS`  TOWN  `merged address` STATE
      <dbl> <chr>                 <chr>             <chr> <chr>            <chr>
1 700152103 9 TINGUE ST           9 TINGUE ST       BYRAM 9 TINGUE ST BYR… CT
2 700164929 223 COGNEWAUGH RD     223 COGNEWAUGH RD COS … 223 COGNEWAUGH … CT
3 700224686 48 VALLEY RD          48 VALLEY RD      COS … 48 VALLEY RD CO… CT
4 700148694 30 RIVER RD           30 RIVER RD       COS … 30 RIVER RD COS… CT
5 700148819 8 MIAMI CT            8 MIAMI CT        COS … 8 MIAMI CT COS … CT
6 700148826 6 MIAMI CT            6 MIAMI CT        COS … 6 MIAMI CT COS … CT
# ℹ 9 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, `SOURCE FILE` <chr>, `STREET NUMBER` <lgl>,
#   `STREET NAME` <lgl>, extracted_pswid <chr>, is_match <lgl>, PWSID <chr>,
#   `SYSTEM NAME` <chr>

In [27]:
%%R


# Geocode each row based on the 'merged address' column
data_geocoded <- data %>%
  geocode(address = `merged address`, method = "osm")

# Check the results
head(data_geocoded)

# A tibble: 6 × 17
  `SITE ID` `LOCATION IDENTIFIER` `STREET ADDRESS`  TOWN  `merged address` STATE
      <dbl> <chr>                 <chr>             <chr> <chr>            <chr>
1 700152103 9 TINGUE ST           9 TINGUE ST       BYRAM 9 TINGUE ST BYR… CT
2 700164929 223 COGNEWAUGH RD     223 COGNEWAUGH RD COS … 223 COGNEWAUGH … CT
3 700224686 48 VALLEY RD          48 VALLEY RD      COS … 48 VALLEY RD CO… CT
4 700148694 30 RIVER RD           30 RIVER RD       COS … 30 RIVER RD COS… CT
5 700148819 8 MIAMI CT            8 MIAMI CT        COS … 8 MIAMI CT COS … CT
6 700148826 6 MIAMI CT            6 MIAMI CT        COS … 6 MIAMI CT COS … CT
# ℹ 11 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, `SOURCE FILE` <chr>, `STREET NUMBER` <lgl>,
#   `STREET NAME` <lgl>, extracted_pswid <chr>, is_match <lgl>, PWSID <chr>,
#   `SYSTEM NAME` <chr>, lat <dbl>, long <dbl>

Passing 1,549 addresses to the Nominatim single address geocoder

In [28]:
%%R


# Display the first few rows in the console
head(data_geocoded)

# Or print the entire data frame (if it's not too large)
print(data_geocoded)

# A tibble: 1,552 × 17
   `SITE ID` `LOCATION IDENTIFIER` `STREET ADDRESS` TOWN  `merged address` STATE
       <dbl> <chr>                 <chr>            <chr> <chr>            <chr>
 1 700152103 9 TINGUE ST           9 TINGUE ST      BYRAM 9 TINGUE ST BYR… CT
 2 700164929 223 COGNEWAUGH RD     223 COGNEWAUGH … COS … 223 COGNEWAUGH … CT
 3 700224686 48 VALLEY RD          48 VALLEY RD     COS … 48 VALLEY RD CO… CT
 4 700148694 30 RIVER RD           30 RIVER RD      COS … 30 RIVER RD COS… CT
 5 700148819 8 MIAMI CT            8 MIAMI CT       COS … 8 MIAMI CT COS … CT
 6 700148826 6 MIAMI CT            6 MIAMI CT       COS … 6 MIAMI CT COS … CT
 7 700148837 4 MEAD AVE            4 MEAD AVE       COS … 4 MEAD AVE COS … CT
 8 700148914 521 E PUTNAM AVE      521 E PUTNAM AVE COS … 521 E PUTNAM AV… CT
 9 700148930 525 E PUTNAM AVE      525 E PUTNAM AVE COS … 525 E PUTNAM AV… CT
10 700148936 531 PUTNAM AVE E      531 PUTNAM AVE E COS … 531 PUTNAM AVE … CT
# ℹ 1,542 more rows
# ℹ 11 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, `SOURCE FILE` <chr>, `STREET NUMBER` <lgl>,
#   `STREET NAME` <lgl>, extracted_pswid <chr>, is_match <lgl>, PWSID <chr>,
#   `SYSTEM NAME` <chr>, lat <dbl>, long <dbl>
# ℹ Use `print(n = ...)` to see more rows

In [29]:
%%R

write_csv(data_geocoded, "Aquarion_Greenwich_geocoded.csv")

## Middletown Water Department

In [6]:
%%R

# Read in your CSV file (adjust the path if needed)
data <- read_csv("Middletown Water Department.csv")

# Preview the data to check the column names and structure
print(head(data))

Rows: 257 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (12): SITE ID, LOCATION IDENTIFIER, STREET ADDRESS, TOWN, merged address...
lgl  (3): STREET NUMBER, STREET NAME, is_match

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
# A tibble: 6 × 15
  `SITE ID` `LOCATION IDENTIFIER`  `STREET ADDRESS` TOWN  `merged address` STATE
  <chr>     <chr>                  <chr>            <chr> <chr>            <chr>
1 00000007R 353 MAIN STREET, MIDD… 353 MAIN STREET  MIDD… 353 MAIN STREET… CT
2 00000032C 291 MAIN STREET, MIDD… 291 MAIN STREET  MIDD… 291 MAIN STREET… CT
3 00000042R 241 COURT STREET, MID… 241 COURT STREET MIDD… 241 COURT STREE… CT
4 00000050R 346 MAIN STREET, MIDD… 346 MAIN STREET  MIDD… 346 MAIN STREET… CT
5 00000071R 318 MAIN STREET, MIDD… 318 MAIN STREET  MIDD… 318 MAIN STREET… CT
6 00000093R 15 PORTLAND STREET, M… 15 PORTLAND STR… MIDD… 15 PORTLAND STR… CT
# ℹ 9 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, `SOURCE FILE` <chr>, `STREET NUMBER` <lgl>,
#   `STREET NAME` <lgl>, extracted_pswid <chr>, is_match <lgl>, PWSID <chr>,
#   `SYSTEM NAME` <chr>

In [7]:
%%R


# Geocode each row based on the 'merged address' column
data_geocoded <- data %>%
  geocode(address = `merged address`, method = "osm")

# Check the results
head(data_geocoded)

# A tibble: 6 × 17
  `SITE ID` `LOCATION IDENTIFIER`  `STREET ADDRESS` TOWN  `merged address` STATE
  <chr>     <chr>                  <chr>            <chr> <chr>            <chr>
1 00000007R 353 MAIN STREET, MIDD… 353 MAIN STREET  MIDD… 353 MAIN STREET… CT
2 00000032C 291 MAIN STREET, MIDD… 291 MAIN STREET  MIDD… 291 MAIN STREET… CT
3 00000042R 241 COURT STREET, MID… 241 COURT STREET MIDD… 241 COURT STREE… CT
4 00000050R 346 MAIN STREET, MIDD… 346 MAIN STREET  MIDD… 346 MAIN STREET… CT
5 00000071R 318 MAIN STREET, MIDD… 318 MAIN STREET  MIDD… 318 MAIN STREET… CT
6 00000093R 15 PORTLAND STREET, M… 15 PORTLAND STR… MIDD… 15 PORTLAND STR… CT
# ℹ 11 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, `SOURCE FILE` <chr>, `STREET NUMBER` <lgl>,
#   `STREET NAME` <lgl>, extracted_pswid <chr>, is_match <lgl>, PWSID <chr>,
#   `SYSTEM NAME` <chr>, lat <dbl>, long <dbl>

Passing 257 addresses to the Nominatim single address geocoder

In [8]:
%%R


# Display the first few rows in the console
head(data_geocoded)

# Or print the entire data frame (if it's not too large)
print(data_geocoded)

# A tibble: 257 × 17
   `SITE ID` `LOCATION IDENTIFIER` `STREET ADDRESS` TOWN  `merged address` STATE
   <chr>     <chr>                 <chr>            <chr> <chr>            <chr>
 1 00000007R 353 MAIN STREET, MID… 353 MAIN STREET  MIDD… 353 MAIN STREET… CT
 2 00000032C 291 MAIN STREET, MID… 291 MAIN STREET  MIDD… 291 MAIN STREET… CT
 3 00000042R 241 COURT STREET, MI… 241 COURT STREET MIDD… 241 COURT STREE… CT
 4 00000050R 346 MAIN STREET, MID… 346 MAIN STREET  MIDD… 346 MAIN STREET… CT
 5 00000071R 318 MAIN STREET, MID… 318 MAIN STREET  MIDD… 318 MAIN STREET… CT
 6 00000093R 15 PORTLAND STREET, … 15 PORTLAND STR… MIDD… 15 PORTLAND STR… CT
 7 00000095R 13 LIBERTY STREET, M… 13 LIBERTY STRE… MIDD… 13 LIBERTY STRE… CT
 8 00000102R 111 RESERVOIR ROAD, … 111 RESERVOIR R… MIDD… 111 RESERVOIR R… CT
 9 00000156R 430 BOSTON ROAD, MID… 430 BOSTON ROAD  MIDD… 430 BOSTON ROAD… CT
10 00000165R 186 COLLEGE STREET, … 186 COLLEGE STR… MIDD… 186 COLLEGE STR… CT
# ℹ 247 more rows
# ℹ 11 more variables: `ENTIRE SERVICE LINE MATERIAL CLASSIFICATION` <chr>,
#   `BUILDING TYPE` <chr>, `SOURCE FILE` <chr>, `STREET NUMBER` <lgl>,
#   `STREET NAME` <lgl>, extracted_pswid <chr>, is_match <lgl>, PWSID <chr>,
#   `SYSTEM NAME` <chr>, lat <dbl>, long <dbl>
# ℹ Use `print(n = ...)` to see more rows

In [9]:
%%R

write_csv(data_geocoded, "Middletown_geocoded.csv")

## Meriden Water Division
No needed - location identifier has latitude and longitude